body {
    width: 100%;
    height: 97.7vh;
    background-color: #000;
    background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13),       transparent),
      radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}

.content {
    text-align: center;
    z-index: 5;
}

.heading {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}

.text {
    color: white;
    padding: 0px 24px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}

.logo {
    transition-duration: 500ms;
}

.logo:hover {
    transform: scale(1.1);
}

.button {
    padding: 8px 12px;
    margin-top: 12px;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 12px;
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
     -ms-animation: fadein 4s; /* Internet Explorer */
      -o-animation: fadein 4s; /* Opera < 12.1 */
         animation: fadein 4s;
}

#particles {
    position: absolute;
    width: 100%;
    height: 95%;
}

.btn {
    padding: 8px 12px 8px;
    color: #0D4652;
    background-color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    min-height: 40px;
    min-width: 100px;
    font-family: 'Poppins', sans-serif;
    transition-duration: 0.5s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}

.btn:hover {
    background-color: #B5D2D8;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal .content {
    background-color: black;
    margin: 250px auto;
    padding: 20px;
    border: 1px solid red;
    border-radius: 10px;
    max-width: 600px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    --animate-duration: 0.5s;
}

.modal .content .button {
    padding: 8px 12px 8px;
    color: #fff;
    background-color: #0D4652;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    min-height: 40px;
    min-width: 100px;
    font-family: 'Poppins', sans-serif;
    transition-duration: 0.5s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.modal .content .btn:hover {
    background-color: #082d35;
}

.modal .content ul,
.modal .content ol  {
    margin-left: 1em;
    text-align: left;
}

.modal .close {
    color: #0D4652;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
}

.modal .close:hover,
.modal .close:focus {
  color: #082d35;
  text-decoration: none;
  cursor: pointer;
}
  
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media (max-width: 575px) {
    .btn-text {
        display: none;
    }
    
    .btn {
        margin-left: 4px;
        margin-right: 4px;
    }
}